/*
aaaa
*/
p{
	font-size: 1.5em;
	color: #ff0000;
}

// bbbbb
.box{
	border: 0;
	&:before{
		content: 'aa';
	}
}

#title{
	font-weight: bold;
	.inner{
		margin-bottom: 10px;
	}
}

.frame-inner{
	box-sizing: border-box;
	transform: scale(1.2);
}

.other{
	font-size: .5em;
}

@media screen and (max-width: 767px){
	.boxin{
		padding: 10px;
	}
}

@media screen and (max-width: 767px){
	.boxout{
		margin: 10px;
	}
}
